@charset "UTF-8";

body {
	background-color: #e9ebee;
	width: 100%;
	font-family: 'Source Sans Pro', sans-serif;
}

h3 {
	font-family: 'Lato', sans-serif;
	margin-bottom: 15px;
}

img {
	max-width: 100%;
}

div.grid {
	width: 90%;
	margin: 0 auto;
}

div.container {
	max-width: 1300px;
}

div.header {
	padding: 18px 0 25px 0;
	background-color: rgba(255, 255, 255, 0.6);
	margin-top: 30px;
	margin-bottom: 30px;
}

div.header img {
	width: 100%;
	max-width: 800px;
}

div.text-section {
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 4px;
	margin-bottom: 30px;
	padding: 30px 35px;
}

div.text-section p {
	text-align: justify;
}

/*div.footer hr {
	border-color: #C31F25;
	background-color: #C31F25;
}*/